* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e1e2f;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.game {
  width: 400px;
  height: 600px;
  background: #2d2d44;
  margin: 30px auto;
  position: relative;
  border: 3px solid #6366f1;
  border-radius: 10px;
  overflow: hidden;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #6366f1;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 5;
}

.startScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 27, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  padding: 2em;
  user-select: none;
  z-index: 10;
}

.startScreen h2 {
  color: #22c55e;
  margin-bottom: 10px;
}

.gameArea {
  width: 100%;
  height: 100%;
  position: relative;
}

.car, .enemy {
  width: 50px;
  height: 100px;
  position: absolute;
  bottom: 120px;
  border-radius: 10px;
}

.car {
  background-color: #22c55e;
}

.enemy {
  background: #ef4444;
}

.roadLine {
  width: 10px;
  height: 100px;
  background: white;
  position: absolute;
  left: 195px;
}
